
body {float: center; font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #555; background: #efefef; line-height: 1.5; }
body li p { font-size: 33px; line-height: 25px;width: 100%; color: #a5a4a4; text-align: center; clear: both; text-shadow: #fff 1px 0 2px, #fff 0 1px 2px, #fff -1px 0 2px, #fff 0 -1px 2px; }
main { overflow: hidden; width: 68%; float: right; display: block; }
footer { width: 100%; color: #a5a4a4; text-align: center; clear: both; text-shadow: #fff 1px 0 2px, #fff 0 1px 2px, #fff -1px 0 2px, #fff 0 -1px 2px; }
footer a { color: #a5a4a4; }


.r_box li { background: rgba(255,255,255,0.8); padding: 15px; overflow: hidden; color: #797b7c; margin-bottom: 20px }
.r_box li a{ font-size: 26px; line-height: 45px; text-shadow: #FFF 1px 1px 1px }
.r_box li p{float: center; font-size: 16px; line-height: 25px; text-shadow: #FFF 1px 1px 1px }

.r_box li img { float: center; clear: right; width: 50%; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }



